.navbar {
    display: flex;
    align-items:center;
    background-color: rgb(129, 2, 2);
    color:white;
    justify-content: space-between;
    padding: 0 20px;

    top: 0;
}

.navbar a {
    font-family: sans-serif;
}

#navigation_bar {

    top: 0;
    z-index: 100000;
    align-self: flex-start;
}

.logoandname {
    display: flex;
    align-items: center;
}

.logoandname h1 {
    margin: 0;
    line-height: 1;
    font-family: sans-serif;
}

.navbar button{
    background-color: transparent;
    border:none;
    font-size: 20px;
}

.navbar h1{
    font-size: 50px;
    display: inline;
    font-family: sans-serif;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    font-family: sans-serif;
}

a {
    font-size: 25px;
    font-family: sans-serif;
    color: black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-size: 25px;
    font-family: sans-serif;
}

header {
    background-color: black;
}

body {
    margin: 0;
}

.contact_bar {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    height:fit-content;
    padding-top:0;
    padding-bottom: 0;
    
}


.contact_bar p {
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin:0;
    font-family: sans-serif;
}

.contact_bar a:link {
    color: white;
    font-family: sans-serif;
}

.contact_bar a:visited {
    color: white;
    font-family: sans-serif;
}

.contact_bar a:active {
    color: white;
    font-family: sans-serif;
}

.contact_bar a {
    font-family: sans-serif;
}






.products_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: stretch;
    padding-left: 10%;
    padding-right: 10%;
}

.product_photos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.product_photos img {
    width: 33.33333333%;
    height: auto;
    object-fit: contain;
}

.product_text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.product_text p {
    width: 100%;
    margin: 2%;
}

.product_title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
    width: 33.3333333%;
    display: flex;
    justify-content: center;
}